html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: rgb(41, 128, 84);
}
.table {
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: rgb(164, 180, 164);
  top: 50%;
  left: 50%;
  width: 80vw;
  height: 80vh;
  border: 5px solid #000000;
  border-radius: 10px;
}
.sections {
  width: 33.33333333%;
  margin: 0;
  position: relative;
  user-select: none;
}
.left {
  border-right: 2.5px solid rgba(116, 113, 113, 0.509);
  margin: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
}
.center {
  border-left: 2.5px solid rgba(116, 113, 113, 0.509);
  margin: 0;
  border-right: 2.5px solid rgba(116, 113, 113, 0.509);
  margin: 0;
  margin: 0;
}
.right {
  border-left: 2.5px solid rgba(116, 113, 113, 0.509);
  margin: 0;
  margin: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
}
.instructions {
  font-size: 12px;
  width: 100%;
}
.computer-text1 {
  width: 100%;
  font-family: "Shadows Into Light", cursive;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: rgb(44, 127, 92);
  text-shadow: 0.5px 0.5px rgb(28, 83, 60);
  top: 15%;
}
.you-text2 {
  width: 100%;
  font-family: "Shadows Into Light", cursive;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: rgb(44, 127, 92);
  text-shadow: 0.5px 0.5px rgb(28, 83, 60);
  top: 15%;
}
.score-display1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  font-size: 4rem;
  height: 20%;
  border: none;
  background-color: #252525;
  color: rgb(43, 187, 120);
  text-align: center;
  font-family: Helvetica;
  font-size: 55px;
  bottom: 40%;
  border-radius: 10px;
}
.score-display2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  font-size: 4rem;
  height: 20%;
  border: none;
  background-color: #252525;
  color: rgb(43, 187, 120);
  text-align: center;
  font-family: Helvetica;
  font-size: 55px;
  bottom: 40%;
  border-radius: 10px;
}
.sections > h2 {
  font-family: "Shadows Into Light", cursive;
  font-size: 90px;
  margin: 0;
  display: flex;
  justify-content: center;
  color: rgb(44, 127, 92);
  display: absolute;
  margin-top: 10%;
  text-shadow: 4px 4px #252525;
}
.hand-display {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 4rem;
  height: 25%;
  bottom: 40%;
  text-align: center;
  font-family: Helvetica;
  font-size: 70px;
  color: #fff;
  border-color: #252525;
}
.player1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 30%;
  height: 100%;
  border: 3px solid black;
  background-color: rgb(44, 127, 92);
  border-radius: 10px;
  font-size: 25px;
  margin-left: 25px;
  text-shadow: 2px 2px #252525;
  box-shadow: 4px 4px #999;
  transition: 0.1s;
}
.player1:hover {
  box-shadow: 5px 5px #888;
  background-color: rgb(37, 115, 83);
}
.player2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 30%;
  height: 100%;
  border: 3px solid black;
  background-color: rgb(44, 127, 92);
  border-radius: 10px;
  font-size: 25px;
  margin-right: 25px;
  text-shadow: 2px 2px #252525;
  box-shadow: 4px 4px #999;
  transition: 0.1s;
}
.player2:hover {
  box-shadow: 5px 5px #888;
  background-color: rgb(37, 115, 83);
}
.action-text {
  top: 63%;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  position: absolute;
  border: 3px solid black;
  background-color: rgb(44, 127, 92);
  border-radius: 10px;
  font-size: 25px;
  color: #fff;
  text-align: center;
  font-family: Helvetica;
  font-size: 18px;
  text-shadow: 2px 2px #252525;
}
button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: rgb(18, 111, 68);
  font-family: Helvetica;
  font-size: 16px;
  width: 25%;
  height: 75px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 3px solid rgb(14, 92, 56);
  box-shadow: 4px 4px #999;
  transition: 0.1s;
}
button:hover {
  background-color: rgb(124, 156, 147);
  color: #fff;
  width: 25%;
  height: 75px;
  font-size: 16px;
  box-shadow: 5px 5px #999;
}
button:active {
  background-color: rgb(124, 156, 147);
  width: 20%;
  height: 65px;
  font-size: 14px;
  color: #fff;
  box-shadow: 3px 3px #666;
}
@media (max-width: 700px) {
  .table {
    height: 60vh;
    display: flex;
    flex-direction: column;
  }
  .sections {
    width: 100%;
    height: 100%;
    border: 0;
    position: relative;
  }
  .left {
    height: 25%;
  }
  .center {
    height: 50%;
  }
  .right {
    height: 25%;
    z-index: 10;
  }
  .score-display1 {
    width: 35%;
    font-size: 4rem;
    height: 40px;
    font-size: 30px;
    top: 8%;
  }
  .score-display2 {
    width: 35%;
    font-size: 4rem;
    height: 40px;
    font-size: 30px;
    bottom: 8%;
  }
  .computer-text1 {
    font-size: 18px;
    position: absolute;
    top: 16%;
    right: 33%;
  }
  .you-text2 {
    font-size: 18px;
    position: absolute;
    bottom: -20%;
    left: 33%;
  }
  .center > h2 {
    font-size: 60px;
    bottom: 40%;
    position: relative;
  }
  .hand-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 120px;
    bottom: 15%;
  }
  .player1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 20%;
    height: 65%;
    border-radius: 10px;
    font-size: 25px;
    margin-left: 25px;
    margin-top: 100px;
  }
  .player2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 20%;
    height: 65%;
    border-radius: 10px;
    font-size: 25px;
    margin-right: 25px;
    margin-bottom: 70px;
  }
  button {
    position: absolute;
    top: 95%;
    position: flex;
    margin-left: 25%;
    background-color: #fff;
    color: rgb(18, 111, 68);
    font-family: Helvetica;
    font-size: 16px;
    width: 90px;
    height: 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid rgb(14, 92, 56);
    box-shadow: 5px 5px #999;
    transition: 0.1s;
    z-index: 20;
  }
  button:hover {
    background-color: rgb(124, 156, 147);
    color: #fff;
    width: 90px;
    height: 60px;
    font-size: 16px;
    box-shadow: 5px 5px #999;
  }
  button:active {
    background-color: rgb(124, 156, 147);
    width: 80px;
    height: 50px;
    font-size: 14px;
    color: #fff;
    box-shadow: 3px 3px #666;
  }
}
