html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: rgb(41, 128, 84);
}
.table {
  display: flex;
  justify-content: space-between;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: rgb(164, 180, 164);
  top: 50%;
  left: 50%;
  width: 80vw;
  height: 80vh;
  border: 5px solid #000000;
  border-radius: 10px;
}
.sections {
  width: 33.33333333%;
  margin: 0;
}
.left {
  border-right: 2.5px solid rgb(116, 113, 113);
  margin: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.center {
  border-left: 2.5px solid rgb(116, 113, 113);
  border-right: 2.5px solid rgb(116, 113, 113);
  margin: 0;
}
.right {
  border-left: 2.5px solid rgb(116, 113, 113);
  margin: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.player-text {
  width: 100%;
  font-family: Helvetica;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 32%;
  position: relative;
  color: white;
}
.score-display {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 4rem;
  height: 150px;
  border: none;
  background-color: #252525;
  color: rgb(43, 187, 120);
  text-align: center;
  font-family: Helvetica;
  font-size: 70px;
  top: 35%;
}
.center > h2 {
  font-family: Helvetica;
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: rgb(44, 127, 92);
}
.hand-display {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 4rem;
  height: 20%;
  margin-top: 10%;
  text-align: center;
  font-family: Helvetica;
  font-size: 70px;
  color: #fff;
  border-color: #252525;
}
.player1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100px;
  border: 3px solid black;
  background-color: rgb(44, 127, 92);
  border-radius: 10px;
  font-size: 35px;
}
.player2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100px;
  border: 3px solid black;
  background-color: rgb(44, 127, 92);
  border-radius: 10px;
  font-size: 35px;
}

button {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(18, 111, 68);
  color: #ffffff;
  font-family: Helvetica;
  font-size: 14px;
  width: 15%;
  height: 15%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 3px solid rgb(14, 92, 56);
}
button:hover {
  background-color: rgb(36, 138, 90);
  width: 15.5%;
  height: 15.5%;
  font-size: 15px;
}
