html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: rgb(41, 128, 84);
}
.table {
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: rgb(164, 180, 164);
  top: 50%;
  left: 50%;
  width: 80vw;
  height: 80vh;
  border: 5px solid #000000;
  border-radius: 10px;
}
.sections {
  width: 33.33333333%;
  margin: 0;
  position: relative;
}
.left {
  border-right: 2.5px solid rgb(116, 113, 113);
  margin: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
}
.center {
  border-left: 2.5px solid rgb(116, 113, 113);
  border-right: 2.5px solid rgb(116, 113, 113);
  margin: 0;
}
.right {
  border-left: 2.5px solid rgb(116, 113, 113);
  margin: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  
}
.instructions {
  font-size: 12px;
  width: 100%;
}
.player-text1 {
  width: 100%;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: rgb(44, 127, 92);
}
.player-text2 {
  width: 100%;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: rgb(44, 127, 92);
}
.score-display1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  font-size: 4rem;
  height: 20%;
  border: none;
  background-color: #252525;
  color: rgb(43, 187, 120);
  text-align: center;
  font-family: Helvetica;
  font-size: 55px;
  bottom: 25%;
  border-radius: 10px;
}
.score-display2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  font-size: 4rem;
  height: 20%;
  border: none;
  background-color: #252525;
  color: rgb(43, 187, 120);
  text-align: center;
  font-family: Helvetica;
  font-size:55px;
  bottom: 25%;
  border-radius: 10px;
}
.sections > h2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 90px;
  margin: 0;
  display: flex;
  justify-content: center;
  color: rgb(44, 127, 92);
  display: absolute;
  margin-top: 10%;

}
.hand-display {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 4rem;
  height: 25%;
  bottom: 30%;
  text-align: center;
  font-family: Helvetica;
  font-size: 70px;
  color: #fff;
  border-color: #252525;
}
.player1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 30%;
  height: 100%;
  border: 3px solid black;
  background-color: rgb(44, 127, 92);
  border-radius: 10px;
  font-size: 35px;
  margin-left: 25px;
  
}
.player2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 30%;
  height: 100%;
  border: 3px solid black;
  background-color: rgb(44, 127, 92);
  border-radius: 10px;
  font-size: 35px;
  margin-right: 25px;
}

button {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(18, 111, 68);
  color: #ffffff;
  font-family: Helvetica;
  font-size: 14px;
  width: 25%;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 3px solid rgb(14, 92, 56);
}
button:hover {
  background-color: rgb(36, 138, 90);
  width: 25.5%;
  height: 55px;
  font-size: 15px;
}
@media (max-width: 700px) {
  .table {
    height: 60vh;
    display: flex;
    flex-direction: column;
  }
  .left {
    border: 0;
    width: 50%;
  }
  .center {
    border: 0;
    width: 60%;
  }
  .right {
    border: 0;
    width: 20%;
  }
  /* .center > h2 {
    font-family: Helvetica;
    font-size: 75px;
    display: flex;
    justify-content: center;
    margin-top: -50px;
    color: rgb(44, 127, 92);
    width: 100%;
    position: absolute;
  }
  button {
    width: 75px;
    margin-top: 15px;
  }
  button:hover {
    width: 80px;
  }
  .score-display1 {
    height: 50px;
    width: 50px;
    top: 170%;
    border-radius: 50%;
    font-size: 30px;
    left: 20px;
  }
  .score-display2 {
    height: 50px;
    width: 50px;
    top: 70%;
    left: 350%;
    border-radius: 50%;
    font-size: 30px;
    margin-right: 5px;
  }
  .player-text1 {
    width: 90%;
    font-size: 11px;
    top: 165%;
    left: -6%;
  }
  .player-text2 {
    width: 90%;
    font-size: 11px;
    top: 65%;
    left: 358%;
  }
  .hand-display {
    height: 55px;
    top: 180px;
    border-color: #252525;
    position: absolute;
  }
  .table {
    display: flex;
    flex-direction: column;
  }
} */
